body {
  @include font-size(regular);
  @include font-weight(regular);
  line-height: normal;
  letter-spacing: normal;
  font-family: $main-font;
  color: color(grey);
}

html {
  scroll-behavior: smooth;
}
