@font-face {
  font-family: "Avenir";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/avenir/AvenirLTStd-Light.woff") format("woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/avenir/AvenirLTStd-Book.woff") format("woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/avenir/AvenirLTStd-Roman.woff") format("woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/avenir/AvenirLTStd-Medium.woff") format("woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/avenir/AvenirLTStd-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/avenir/AvenirLTStd-Black.woff") format("woff");
}
