.section {
  padding-bottom: 2rem;

  &__desc {
    line-height: 1.5;
  }

  &__genre {
    .slick__arrow {
      top: 50% !important;
    }
  }

  &__header {
    padding-top: 2rem;

    &--alt {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid rgba($color: color(light-grey), $alpha: 0.3);
      padding-bottom: 0.5rem;

      .heading {
        margin-bottom: 0;
      }
    }

    &--flex {
      display: flex;
      align-items: center;
    }

    .layout-view {
      display: flex;
      align-items: center;
      margin-left: auto;

      &__icon {
        margin-right: 1rem;
        cursor: pointer;
        transition: color 0.8s ease;

        &:last-child {
          margin-right: 0;
        }

        &:hover,
        &.active {
          color: color(dark-gold);
        }
      }
    }
  }

  &__link {
    @include font-size(x-small);
    @include font-weight(bold);
    margin-bottom: 0;
    cursor: pointer;
    text-transform: uppercase;
    color: color(dark);
    transition: color 0.8s ease;

    &:hover {
      color: color(gold);
    }
  }

  &__title {
    @include respond(small) {
      @include font-size(medium);
    }

    @include font-weight(light);
    @include font-size(large);
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    color: color(dark);
  }
}
