.slider-item {
  @include respond(small) {
    margin: 0 0.5rem;
  }
  margin: 0 auto;

  &__artist {
    @include font-size(x-small);
    text-transform: capitalize;
    color: color(grey);
    transition: color 0.8s ease;
    transition-property: color, font-weight;

    &:hover {
      @include font-weight(bold);
      color: color(black);
    }
  }

  &__button {
    margin: 0 0.5rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__details {
    margin: 0 auto;
    width: auto;
    max-width: 150px;
    cursor: pointer;
    @include respond(small) {
      margin: 0 auto;
      width: auto;
      max-width: 280px;
      cursor: pointer;
    }
  }

  &--home {
    @include respond(small) {
      margin-right: auto;
    }

    .slider-item__artist {
      color: color(white);
    }

    .slider-item__image {
      @include respond(medium) {
        height: 200px;
      }
      @include respond(small) {
        height: 120px;
      }
      border-radius: 0;
      height: 300px;

      &--overlay {
        border-radius: 0;
      }
    }

    .slider-item__details,
    .slider-item__image {
      margin: 0 1rem 1.5rem;
      max-width: 250px;
    }

    .slider-item__title {
      @include font-weight(regular);
      color: color(primary);
    }
  }

  &__image {
    @include respond(small) {
      margin-right: 0;
      margin-bottom: 0.5rem;
      margin-left: 0;
      height: 120px;
    }
    position: relative;
    margin: 0 auto 1.5rem;
    border-radius: 10px;
    width: auto;
    max-width: 150px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover {
      .slider-item__image--overlay {
        opacity: 1;
      }
    }

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background: rgba(69, 46, 2, 0.89);
      opacity: 0;
      transition: opacity 0.8s ease;
    }
  }

  &__title {
    @include font-size(small);
    @include font-weight(bold);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: color(dark-grey);
    transition: color 0.8s ease;

    &:hover {
      color: color(gold);
    }
  }
}
